<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Zach Oglesby" />
   <link href="http://feeds.feedburner.com/zachoglesby" rel="alternate" title="Zach Oglesby" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
<script type="text/javascript" src="http://use.typekit.com/wkz4thp.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script> 

   <!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23917886-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Zach Oglesby</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/about.html">about</a>
    <a class="extra" href="/tools.html">tools</a>
    <a class="extra" href="http://wiki.oglesby.co">wiki</a>
    <a class="extra" href="/projects.html">projects</a>
  </div>

  <div class="newbody">

  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://github.com/zoglesby/">github.com/zoglesby</a><br />
        <a href="http://twitter.com/zoglesby/">twitter.com/zoglesby</a><br />
        <a href="https://picasaweb.google.com/oglesbyzm">picasaweb.google.com/oglesbyzm</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/zachoglesby">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>

  </div>
  
</div>


<!-- RefTagger from Logos. Visit http://www.logos.com/reftagger. This code should appear directly before the </body> tag. -->
<script src="http://bible.logos.com/jsapi/referencetagging.js" type="text/javascript"> </script> 
<script type="text/javascript">
     Logos.ReferenceTagging.lbsBibleVersion = "KJV";
     Logos.ReferenceTagging.lbsLinksOpenNewWindow = true;
     Logos.ReferenceTagging.lbsLogosLinkIcon = "dark";
     Logos.ReferenceTagging.lbsNoSearchTagNames = [ "h2", "h3", "h3" ];
     Logos.ReferenceTagging.lbsTargetSite = "biblia";
     Logos.ReferenceTagging.tag();
</script>
</body>
</html>
